body  {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.site-header-cap {
  background-color: #ff7500;
  width: 1440px;
  height: 5px;
}
.site-header {
  width: 1440px;
  top: 5px;
}
.site-nav ul {
  list-style: none;
}
.site-nav a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}
.sitenav-link {
  width: 92px;
  top: 0.5px;
  /* font-family: 'Roboto', sans-serif; */
  text-decoration: none;
}
.main-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 152px;
  height: 39px;
  background-color: #ff7500;
  border-radius: 4px;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: bold;
}
.hero {
  width: 1440px;
 top: 97px;
 background-color: #252420;
 color: #fff;
 /* font-family: 'Roboto', sans-serif; */
}
.hero-content {
  width: 387px;
}
.hero-heading {
  font-family: "Roboto Condensed";
  width: 339px;
  height: 96px;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
}
.hero-text {
  font-family: 'Roboto';
  width: 387px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.little-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.feature {
  width: 1440px;
  top: 584px;
  /* font-family: 'Roboto', sans-serif; */
}
.feature-list ul {
  list-style: none;
}
.feature-heading {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  color: #000;
  width: 435px;
  height: 172px;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.featurelist-heading {
  font-family: 'Roboto Condensed';
  width: 214px;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #000;
}
.featurelist-text {
  font-family: 'Roboto';
  line-height: 150%;
  width: 314px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000;
}
.feature-list {
  width: 1100px;
  top: 1065px;
}
.sale {
  width: 1100px;
  top: 1555px;
  /* font-family: 'Roboto', sans-serif; */
  color: #fff;
  background-color: #252420;
}
.sale-heading {
  font-family: 'Roboto Condensed';
  width: 373px;
  height: 96px;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.sale-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 440px;
  height: 48px;
}
.sale-textt {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 440px;
  height: 48px;
}
.saletext-span {
  color: #ff7500;
}
.sale-img {
  width: 440px;
  height: 440px;
  top: 1555px;
}
footer {
  width: 1440px;
  top: 2219px;
  color: #f8f8f8;
}
.footer-top {
  width: 1100px;
  top: 2275px;
}
.footer-line {
  width: 1100px;
  height: 2px;
  top: 2375px;
  background-color: rgba(37, 36,32, 0.5);
}
.footer-bottom {
  /* font-family: 'Roboto', sans-serif; */
  width: 1100px;
  top: 2441px;
}
.footer-group{
  font-family: 'Roboto';
  font-weight: 400;
  display: inline-block;
  text-align: left;
  width: 224px;
  height: 19px;
  text-decoration: none;
}
.footer-group  ul li {
  color: #252420;
}
.footer-group  a{
  text-decoration: none;
}