body  {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 1440px;
}
.akademnashr-logo {
  transition: opacity 0.7s ease;
  /* background-color: #000; */
}
.akademnashr-logo:hover {
  opacity: 0.8;
}
.akademnashr-logo:active {
  opacity: 0.5;
}
.site-header-cap {
  background-color: #ff7500;
  width: 1440px;
  height: 5px;
}
.site-header {
  width: 1440px;
  top: 5px;
  display: flex;
}
.site-nav {
  list-style: none;
  display: flex;
  /* align-content: flex-end; */
  align-items: center;
  width: 700px;
  height: 50px;
  left: 400px;
  top: 11px;
  margin-left: 400px;
}
.sitenav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  padding: 5px 15px;
  width: 68px;
  height: 15px;
  transition: color 0.4s ease;
}
.sitenav-link {
  width: 92px;
  top: 0.5px;
  /* font-family: 'Roboto', sans-serif; */
  list-style-type: none;
}
.site-nav ul {
  display: flex;
  list-style-type: none;
}
.site-nav ul a {
  text-decoration: none;
}
.sitenav-link:hover {
  color: #FF7500;
}
.sitenav-link:active {
  color: #ff770091;
}
.main-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 155px;
  height: 39px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff7500;
  border-radius: 4px;
  text-decoration: none;
  /* font-family: 'Roboto', sans-serif; */
  color: #ffffff;
  letter-spacing: 0.5px;
  font-weight: bold;
  transition: color 0.4s ease;
}
.main-link:hover {
  color: rgb(206, 201, 201);
}
.main-link:active {
  background-color: #ff77007a;
  color: #fff;
}
.hero {
  width: 1440px;
 top: 97px;
 background-color: #252420;
 color: #fff;
 /* font-family: 'Roboto', sans-serif; */
 display: flex;
 align-items: center;
justify-content: space-between;
}
.hero-content {
  width: 387px;
  position: absolute;
  top: 107px;
  margin-left: 170px;
  margin-top: 50px;
  /* margin-bottom: 40px; */
}
.hero-about {
  display: flex;
  align-items: center;
  top: 40px;
}
.hero-text {
  margin-top: 5px;
}
.hero-image {
  /* position: absolute; */
  width: 510px;
  height: 510px;
  /* filter: drop-shadow(25px 25px 0px rgba(255, 117, 0, 0.7)); */
  border-radius: 8px;
  left: 760px;
  top: 137px;
  margin-left: 760px;
}
.hero-heading {
  font-family: "Roboto Condensed";
  width: 339px;
  height: 96px;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #fff;
}
.hero-text {
  font-family: 'Roboto';
  width: 387px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.little-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.feature {
  width: 1110px;
  top: 584px;
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: flex-start; */
  /* top: 1065px; */
  margin: 200px 150px;
}
.feature-list {
  padding: 0;
  width: 1100px;
  top: 1065px;
  left: 170px;

}
.feature-list ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin: 0px;
  padding-inline-start: 0px;
}
.feature-line-heading {
  top: 850px;
  left: 180px;
}
.feature-heading {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  color: #000;
  width: 435px;
  height: 172px;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  display: inline-block;
}
.featurelist-heading {
  font-family: 'Roboto Condensed';
  width: 214px;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #000;
  text-decoration: none;
}
.featurelist-text {
  font-family: 'Roboto';
  line-height: 150%;
  width: 314px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #000;
}
.feature-list {
  width: 1440px;
  top: 1065px;
}

.sale {
  width: 1440px;
  top: 1555px;
  /* font-family: 'Roboto', sans-serif; */
  color: #fff;
  background-color: #252420;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
}
.sale-content {
  /* display: flex; */
  /* background-color: #f8f8f8; */
  position: absolute;
  width: 440px;
  height: 291px;
  left: 234px;
  top: 1650px;
}
.sale-heading {
  font-family: 'Roboto Condensed';
  width: 373px;
  height: 96px;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.sale-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 440px;
  height: 48px;
}
.sale-textt {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  width: 440px;
  height: 48px;
}
.saletext-span {
  color: #ff7500;
}
.sale-img {
  width: 440px;
  height: 440px;
  top: 1555px;
  margin-left: 766px;
}
footer {
  width: 1440px;
  top: 2219px;
  color: #f8f8f8;
  margin-top: 214px;
}
.footer-logo {
  transition: opacity 2s ease;
}
.footer-logo:hover {
  opacity: 0.8;
}
.footer-logo:active {
  opacity: 0.6;
}
.footer-top {
  width: 1110px;
  top: 2275px;
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* position: absolute; */
  width: 1440px;
  height: 60px;
  left: 170px;
  /* top: 225px; */
  margin: 15px 0px;
}
footer ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  padding-inline-start: 0px;
  /* padding-left: 10px; */
}
.footer-item {
  width: 150px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
}
.footer-line {
  width: 1440px;
  height: 2px;
  top: 2375px;
  background-color: rgba(37, 36,32, 0.5);
}
.footer-bottom {
  /* font-family: 'Roboto', sans-serif; */
  width: 1440px;
  height: 229px;
  top: 2441px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-group{
  font-family: 'Roboto';
  font-weight: 400;
  display: inline-block;
  /* text-align: left; */
  width: 224px;
  height: 229px;
  text-decoration: none;
  /* color: #ff7500; */
}
.footer-group   {
  /* color: ; */
  width: 400px;
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: "Roboto" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  order: 0;
  flex: none;
  align-items: stretch;
  /* justify-content: space-between; */
  flex-grow: 0;
  margin: 16px 0px;
}
.footer-group  a{
  text-decoration: none;
  margin: 16px 0px;
  color: #000;
  font-size: 20px;
}
.footer-group li {
  margin: 20px 0px;
}
.footer-group-link {
  transition: color 0.4s ease;
}
.footer-group-link:hover {
  color: #ff7500;
}
.footer-group-link:active {
  color: #ff770071;
}